MONGO_URI=votre_mongodb_uri_ici
SESSION_SECRET=votre_session_secret_ici
PORT=3000

CLOUDINARY_CLOUD_NAME=votre_cloudinary_cloud_name
CLOUDINARY_API_KEY=votre_cloudinary_api_key
CLOUDINARY_API_SECRET=votre_cloudinary_api_secret
