# Node modules
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environnement
.env

# Dossier uploads (images)

# IDE et système
.DS_Store
.vscode/
.idea/

createAdmin.js
createExempleProjetcts.js
createfavicon.html